# KiCad Schematic source file
*.kicad* linguist-detectable=true
*.kicad* linguist-documentation=false
*.kicad* linguist-language=KiCAD

#*.kicad_sch linguist-detectable=true
#*.kicad_sch linguist-documentation=false
#*.kicad_sch linguist-language=KiCad-Schematic

#*.kicad* linguist-language=KiCAD
#*.kicad_pcb linguist-detectable
